{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
            <div class="box">
                <div class="row">
                    <form class="form" id="sensor-form" action="/sensors/{% if sensor and sensor.id %}{{sensor.id}}/{% endif %}" method="POST">
                        <div class="col-xs-7 form-group">
                            <label class="control-label" for="type">Digital/analog:</label>
                            <select class="form-control" name="type">
                                <option value="digital" {% if sensor and sensor.type=='digital'%}selected="selected"{% endif %}>Digital</option>
                                <option value="analog" {% if sensor and sensor.type=='analog'%}selected="selected"{% endif %}>Analog</option>
                            </select>
                        </div>
                        <div class="col-xs-5 form-group">
                            <label class="control-label" for="pin">Pin:</label>
                            <select class="form-control" name="pin">
                            </select>
                        </div>
                        <div class="col-xs-12 form-group">
                            <label class="control-label" for="identificator">Identificator:</label>
                            <input class="form-control" name="identificator" type="text" value="{% if sensor %}{{sensor.identificator}}{% endif %}"/>
                        </div>
                        <div class="col-xs-12 form-group">
                            <label class="control-label" for="measuring">Type:</label>
                            <input class="form-control" name="measuring" type="text" value="{% if sensor %}{{sensor.measuring}}{% endif %}"/>
                        </div>
                        <div class="col-xs-12 form-group">
                            <label class="control-label" for="value">Value:</label>
                            <input class="form-control" name="value" type="text" value="{% if sensor %}{{sensor.value}}{% endif %}"/>
                        </div>
                        <div class="col-xs-12 form-group">
                            <label class="control-label" for="unit">Unit:</label>
                            <input class="form-control" name="unit" type="text" value="{% if sensor %}{{sensor.unit}}{% endif %}"/>
                        </div>
                        <div class="col-xs-12 form-group">
                            <div class="checkbox">
                                <label>
                                    active <input type="checkbox" name="is_active" {% if sensor and sensor.active %}checked{% endif %} />
                                </label>
                            </div>
                            {% if not sensor or (sensor and not sensor.registered) %}
                                <div class="checkbox">
                                    <label>
                                        register when added <input type="checkbox" name="register" />
                                    </label>
                                </div>
                            {% endif %}
                        </div>
                        <div class="col-xs-12 center">
                            <button class="btn btn-info" type="submit">
                                <span class="glyphicon glyphicon-ok"></span>
                                &nbsp;
                                {% if sensor and sensor.id %}
                                    Edit
                                {% else %}
                                    Add
                                {% endif %}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block includes %}
    <script type="text/javascript">
        $(document).ready(function(){
            $("#navbar-collapse li#add-sensor").addClass("active")

            {% if sensor and sensor.type %}$("select[name='type']").val("{{ sensor.type }}"){% endif %}

            $("select[name='type']")
            .on('change',
                function(event){
                    $("select[name='pin']").empty();
                    if ($(event.currentTarget).val() == "digital"){
                        for (var i=0; i<13; i++){
                            $("<option/>", {
                                value: i,
                            })
                            .text(i)
                            .appendTo("select[name='pin']");
                        }
                    }
                    else{
                        for (var i=0; i<3; i++){
                            $("<option/>", {
                                value: i,
                            })
                            .text(i)
                            .appendTo("select[name='pin']");
                        }
                    }
                }
            );

            $("select[name='type']").trigger('change');

            {% if sensor and sensor.pin %}$("select[name='pin']").val("{{ sensor.pin }}"){% endif %}

            utils.validateForm('sensor-form');

        });
    </script>
{% endblock %}