{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="col-xs-offset-1 col-xs-10 box">
            <div class="col-xs-offset-2 col-xs-8">
                <form class="form" action="/sensors/{% if sensor and sensor.id %}{{sensor.id}}/{% endif %}" method="POST">
                    <div class="form-group">
                        <label class="control-label" for="identificator">Identificator:</label>
                        <input class="form-control" name="identificator" type="text" value="{% if sensor %}{{sensor.identificator}}{% endif %}"/>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="type">Type:</label>
                        <input class="form-control" name="type" type="text" value="{% if sensor %}{{sensor.type}}{% endif %}"/>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="value">Value:</label>
                        <input class="form-control" name="value" type="text" value="{% if sensor %}{{sensor.value}}{% endif %}"/>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="unit">Unit:</label>
                        <input class="form-control" name="unit" type="text" value="{% if sensor %}{{sensor.unit}}{% endif %}"/>
                    </div>
                    <div class="form-group col-xs-offset-5">
                        <button class="btn btn-info col-md-4" type="submit">
                            <span class="glyphicon glyphicon-ok"></span>
                            &nbsp;
                            {% if sensor and sensor.id %}
                                Edit
                            {% else %}
                                Add
                            {% endif %}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block includes %}
    <script type="text/javascript">
        $(document).ready(function(){
            $("#navbar-collapse li#add-sensor").addClass("active")
        })
    </script>
{% endblock %}