<div class="row center add-sensor">
    <div class="col-xs-12">
        <a class="btn btn-md btn-info" href="/sensors/add/"><span class="glyphicon glyphicon-plus"></span>&nbsp;Add sensor</a>
    </div>
</div>
{% if sensors %}
    <div class="row center-row sensors center">
        {% for sensor in sensors %}
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 sensor center-col">
                <div class="box">
                    <div class="row">
                        <div class="sensor-id col-xs-12 left"><a name="{{ sensor.id }}"></a></div>
                        <div class="col-xs-12">
                            <table class="info-table">
                                <tr>
                                    <td colspan="2" class="center sensor-identificator"><b>{{sensor.identificator}}</b></td>
                                </tr>
                                <tr>
                                    <td colspan="2" class="center sensor-activity">{% if sensor.active %}<span class="sensor-active">active</span>{% else %}<span class="sensor-inactive">inactive</span>{% endif %}</td>
                                </tr>
                                <tr>
                                    <td class="right">Measuring:</td>
                                    <td class="left"><b>{{sensor.measuring}}</b></td>
                                </tr>
                                <tr>
                                    <td class="right">Type:</td>
                                    <td class="left"><b>{{sensor.type}}</b></td>
                                </tr>
                                <tr>
                                    <td class="right">Pin:</td>
                                    <td class="left"><b>{{sensor.pin}}</b></td>
                                </tr>
                                <tr>
                                    <td class="right">Last value:</td>
                                    <td class="left"><b>{{sensor.value}} {{sensor.unit}}</b></td>
                                </tr>
                                <tr>
                                    <td class="right">Threshold:</td>
                                    <td class="left"><b>{{sensor.threshold}}</b></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="row center-row">
                        <div class="middle-buttons center-col">
                            <div class="col-xs-3">
                                {% if not sensor.active %}
                                    <a title="activate" href="/sensors/{{ sensor.id }}/activate/" class="btn btn-sm btn-success" ><span class="glyphicon glyphicon-ok"></span></a>
                                {% else %}
                                    <a title="deactivate" href="/sensors/{{ sensor.id }}/deactivate/" class="btn btn-sm btn-danger" ><span class="glyphicon glyphicon-remove"></span></a>
                                {% endif %}
                            </div>
                            <div class="col-xs-3">
                               <a title="send value" href="/sensors/{{ sensor.id }}/send_value/" class="btn btn-sm btn-info" {% if not sensor.active %}disabled{% endif %}><span class="glyphicon glyphicon-floppy-open"></span></a>
                            </div>
                            <div class="col-xs-3">
                                <a title="edit" class="btn btn-sm btn-info" href="/sensors/{{sensor.id}}/edit/"><span class="glyphicon glyphicon-pencil"></span></a>
                            </div>
                            <div class="col-xs-3">
                                <form method="POST" action="/sensors/delete/">
                                    <input type="hidden" name="sensor_id" value="{{ sensor.id }}" />
                                    <button title="delete" class="btn btn-sm btn-danger" type="submit"><span class="glyphicon glyphicon-trash"></span></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}