{% extends "base.html" %}

{% block content %}
    <div class="center">
        {% if not registered %}
            <form action="/register/" method="GET">
                <button type="submit">Register device on gateway</button>
            </form>
        {% else %}
            <p>Device is already registered on gateway.</p>
        {% endif %}
    </div>
{% endblock %}

{% block includes %}
    <script type="text/javascript">
        $(document).ready(function(){
            $("#navbar-collapse li#set-gateway").addClass("active")
        })
    </script>
{% endblock %}