<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/static/favicon.ico" />
    <title>{% block title%}Arduino YUN sensors{% endblock %}</title>
    <link rel="stylesheet" media="screen" href="/static/libs/jGrowl/jquery.jgrowl.min.css" />
    <link rel="stylesheet" media="screen" href="/static/libs/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" media="screen" href="/static/css/main.css" />
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="/static/libs/jGrowl/jquery.jgrowl.min.js"></script>
    <script type="text/javascript" src="/static/libs/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/utils.js"></script>
    {% block includes %}
    {% endblock %}
</head>
<body>
    <div class="header">
        <div class="navigation">
            {% include "navigation.html" %}
        </div>
    </div>
    <div class="container-fluid">
        {% block content %}
        {% endblock %}
    </div>
    <script type="text/javascript">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    utils.flashMessage("{{ message }}", '{{ category | json_dumps_flask | safe }}');
                {% endfor %}
            {% endif %}
        {% endwith %}
    </script>
</body>
</html>