<!doctype html>
<html>
<head>
    <title>Test</title>
</head>
<body>
    {% if sensor %}
        <div>
            <p>ID: {{sensor.id}}</p>
            <p>Type: {{sensor.type}}</p>
            <p>Value: {{sensor.value}} {{sensor.unit}}</p>
        </div>
    {% endif %}
    <form action="/sensor/" method="POST">
        <label for="unit">Unit: <input name="unit" type="text" /></label><br />
        <label for="type">Type: <input name="type" type="text" /></label><br />
        <label for="value">Value: <input name="value" type="text" /></label><br />
        <button type="submit">Submit</button>
    </form>
</body>
</html>