<div class="modal fade" id="pin-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Active sensors on pin</h4>
            </div>
            <div class="modal-body">
                <p>The following sensors will be deactivated:</p>
                <div class="list">
                </div>
            </div>
            <div class="modal-footer center">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" id="pin-modal-proceed" onClick="$(this).button('loading');" data-loading-text="Requesting...">Proceed</button>
            </div>
        </div>
    </div>
</div>